.container-todo {
    margin-top: 10px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;    height: 70vh;
    padding: 15px;
    overflow: auto;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.container-todo::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-todo::-webkit-scrollbar:vertical {
    width:5px;
}

.container-todo::-webkit-scrollbar-button:increment,.container-todo::-webkit-scrollbar-button {
    display: none;
} 

.container-todo::-webkit-scrollbar:horizontal {
    height: 5px;
}

.container-todo::-webkit-scrollbar-thumb {
    background-image: linear-gradient(163deg, #fc5cb7 0%, #3700ff 100%);
    border-radius: 20px;
    border: none;
}

.container-todo::-webkit-scrollbar-track {
    border-radius: 10px;  
}