.TodoCounter {
    text-align   : center;
    border-radius: 69px;
    background   : #212121;
    box-shadow   : 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px 0px 0px #5f5e5e;
    color        : rgb(245, 245, 245);
    padding      : 15px 5px;
    margin       : 0.6rem;
    width        : 100%;

}